@use 'variables' as *;
@use 'mixins' as *;

// Grid container
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'intro' 'price' 'features';
  max-width: 23.4375rem; // 375px

  &__intro,
  &__price,
  &__features {
    padding: 1rem 1.5rem;
  }

  &__intro {
    grid-area: intro;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;

    &--title {
      color: $pc-cyan;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      padding-top: 1rem;
    }

    &--subtitle {
      color: $pc-bright-yellow;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }

    &--text {
      color: $sc-gray-blue;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }

  &__price {
    grid-area: price;
    background-color: $pc-cyan;
    color: #fff;

    &--title {
      font-size: 1.5rem;
      padding-top: 1rem;
    }

    &--value {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 2rem;
      font-weight: $fw-bold;

      &-text {
        font-size: 0.75rem;
        color: rgba($sc-light-gray, 0.35);
      }
    }

    &--description {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: rgba($sc-light-gray, 0.75);
    }

    &--btn {
      display: inline-block;
      width: 90%;
      text-align: center;
      margin-inline: 1rem;
      padding: 0.75rem 1.5rem;
      background-color: $pc-bright-yellow;
      color: $sc-light-gray;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: $fw-bold;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;

      &:hover {
        background-color: $pc-bright-yellow;
        color: $pc-cyan;
      }
    }
  }

  &__features {
    grid-area: features;
    background-color: lighten($pc-cyan, 5%);
    border-radius: 0 0 0.5rem 0.5rem;

    &--title {
      padding-top: 1rem;
      color: #fff;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &--list {
      color: rgba($sc-light-gray, 0.75);
      margin-bottom: 1rem;
    }
  }
}

@include desktop {
  .grid {
    max-width: calc(700 / 16 * 1rem); // 43.75rem
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'intro intro'
      'price features';
    box-shadow: 5px -5px 50px rgba(0, 0, 0, 0.1);

    &__price {
      border-radius: 0 0 0 0.5rem;
    }

    &__features {
      border-radius: 0 0 0.5rem 0;
    }
  }
}
